body{
    margin: 0px;
}

.web-bg {
    background-image: url('/RODRIGUEZ-image/web-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    width: 100%;
    background-color: #062B4D;
    overflow: auto;
    height: 70px;
    margin-bottom: -40px;
}

table, tr, td {
    border: 0px solid black;
    border-collapse: collapse;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -55px;
}

.cont-cont {
    position: relative;
}

.cont-cont:hover .overlay {
    opacity: 1;
}

.image {
    display: block;
    height: auto;
}

.zoom {
    transition: transform .2s;
    width: 200px;
    /*height: 200px;*/
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.0); 
    -webkit-transform: scale(1.0);
    transform: scale(1.3); 
}

.overlay {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 30%;
    opacity: 0;
    transition: .5s ease;
    background-color: #EBECF1;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}

.text {
    color: #062B4D;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text:hover {
    color: #1A849D;
}

.image-logo-header {
    width: 90px;
    flex-shrink: 0;
}

.image-icon-logo{
    width: 30%;
    margin-right: auto;
    margin-left: 35%;
}

.logo-block {
    width: 80px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.first-block {
    width: 0%;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.empty-block {
    width: 300px;
}

.home-cont{
    margin-left: 200px;
    margin-right: 200px;
}

.my-profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.container {
    margin-top: -80px;
    margin-bottom: -30%;
}

.row{
    margin-top: 15%;
}

.col-sm-6{
    text-align: right;
    margin-top: 20px;
}

.greet1{
    font-family: 'Squada One', cursive;
    font-size: 50px;
    color: #6385A1;
}

.greet2{
    font-family: 'Squada One', cursive;
    font-size: 100px;
    color: #28567A;
    margin-top: -15px;
}

.intro{
    font-size: 18px;
    font-family: 'Saira', sans-serif;
    color: #E8EAF0;
    background-color: rgba(2, 48, 71, 0.5);
    padding: 20px;
}

.quote {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: #FFFFFF;
}

.credits-quote{
    font-family: 'Alike', serif;
    color: #FFFFFF;
    background-color:#023047;
    padding: 10px;
    margin-left: 260px;
}

.container-1 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -60px;
}

.my-icon-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.my-icon-pages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 18px;
}

.contact-cont {
    text-align: center; 
    padding-top: 35px;
}

.gallery-cont {
    text-align: center; 
    margin-top: 400px;
}

.contact-cont-icon {
    text-align: center; 
}

.contact-row{
    background-color: yellow;
}

.contact-col{
    background-color: rgba(2, 48, 71, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.contact-col-icon{
    margin-top: 30px;
    padding: 20px;
}

.contact-title{
    margin-top: 10px;
    margin-bottom: -10px;
    font-family: 'Squada One', cursive;
    font-size: 40px;
    color: #8ECAE6;
}

table, th, td {
    border: 0px solid;
  }

table {
    margin-top: 20px;
    width: 80%;
    font-size: 18px;
}

.sections{
    text-align: right;
    font-family: 'Saira', sans-serif;
    padding-right: 10px;
    font-weight: bold;
    color: #FFB703;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fills{
    text-align: left;
    font-family: 'Saira', sans-serif;
    padding-left: 10px;
    color: #FFFFFF;
}

hr{
    width: 75%;
}
