body{
    margin: 0px;
}

.web-bg {
    background-image: url('/RODRIGUEZ-image/web-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    width: 100%;
    background-color: #062B4D;
    overflow: auto;
    height: 70px;
    margin-bottom: -40px;
}

table, tr, td {
    border: 0px solid black;
    border-collapse: collapse;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -55px;
}

.cont-cont {
    position: relative;
}

.cont-cont:hover .overlay {
    opacity: 1;
}
