body{
    margin: 0px;
}

.web-bg {
    background-image: url('/RODRIGUEZ-image/web-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    width: 100%;
    background-color: #062B4D;
    overflow: auto;
    height: 70px;
    margin-bottom: -40px;
}

table, tr, td {
    border: 0px solid black;
    border-collapse: collapse;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -55px;
}

.cont-cont {
    position: relative;
}

.cont-cont:hover .overlay {
    opacity: 1;
}

.image {
    display: block;
    height: auto;
}

.zoom {
    transition: transform .2s;
    width: 200px;
    /*height: 200px;*/
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.0); 
    -webkit-transform: scale(1.0);
    transform: scale(1.3); 
}

.overlay {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 30%;
    opacity: 0;
    transition: .5s ease;
    background-color: #EBECF1;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}

.text {
    color: #062B4D;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text:hover {
    color: #1A849D;
}

.image-logo-header {
    width: 90px;
    flex-shrink: 0;
}

.image-icon-logo{
    width: 30%;
    margin-right: auto;
    margin-left: 35%;
}

.logo-block {
    width: 80px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}
